<h1>Unser Café</h1>
<section class="about">
    <p>Unsere Leidenschaft ist es, besten Kaffee zu servieren und eine warme, einladende Atmosphäre für unsere Gäste zu schaffen.</p>
    <p>Auf unserer Karte finden Sie köstliche Getränke wie unsere Signature-Lattes und saisonale Specials sowie eine Auswahl an Snacks und Gebäck – perfekt zu Ihrem Kaffee. </p>
    <p>Unser Café ist ein gemütlicher Ort zum Entspannen, für Treffen mit Freunden oder um in Ruhe zu arbeiten. Wir lieben unser Ambiente – und Sie werden es auch lieben!</p>
    <p>Wenn du in der Nähe bist, schau gern vorbei und sag Hallo. Wir freuen uns darauf, unsere Liebe zum Kaffee mit dir zu teilen.</p>
</section>

<img ngSrc="assets/coffee-images/5.png" width="300" height="300"> 

